.header {
  padding: 20px;
  text-align: center;
  }
 .topnav {
	 overflow: hidden;
	 background-color:#333;
 }
 .topnav a{
	 float: left;
	 display: block;
     color: #f2f2f2;
     text-align:center;
     padding: 14px 16px;
     text-decoration: none;
	 position: -webkit-sticky;
	 position: sticky;
	 top: 0;
}
.topnav a:hover{
     background-color:#ddd;
     color: black;
}
.topnav a:active{
	 background-color:green;
}
body{
  background-image: url("bgimage.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}


